/* CSS StyleSheet */
* {
    background-color: #8ad5df;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
}

body {
    margin: 0px;
}

.title-container .title {
    background-color: #155c66;
    padding: 18px;
    margin-top:0;
    font-size: 42px;
    color: white;
    text-align: center;
}

.burger-container,
.lemon-container,
.bagel-container {
    text-align: center;
    padding: 15px 0px;
    font-size: 24px;
    margin: 10px 30%;
}

.burger-container,
.bagel-container {
    background-color: #155c66;
}


 #main-img {
    width: 200px;
    height: auto;
 }

 .img-main-container {
    width: fit-content;
    margin-bottom: 0;
    margin: 0 auto;
 }


a {
    text-decoration: none;
    background-color: transparent;
}

a:link {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(250, 250, 250);
}


.img-container {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}
 
h1,
h2 
{
    text-align: center;
    margin-bottom: 0;
}

h3 {
    background-color: transparent;
}

.card {
    background-color: #155c66;
}
.text {
    padding: 15px 0px;
    margin: 0px 30%;
    background-color: #155c66;
    border: solid;

}

p,
strong{
    font-size: 18px;
    background-color: transparent;
    padding: 8px;
    margin-top: 0;
    color: white;

}

ul,
ol,
li {
    background-color: transparent;
    color: white;
}

.container {
    background: #ffffff;
    width:fit-content;
    margin: 0 auto;
}
